/* ---------BODY---------- */
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.content {
	background: url(../img/bg_light.jpg);
}

/* ---------HEADER---------- */
.ui-header {
	background: url(../img/bg_light.jpg) repeat-x;
	xborder-bottom: 1px solid #B49F8B;
	xheight: 54px;
}
.ui-bar-a {
border: none;
}
.logo {
	background: url(../img/logo.png) no-repeat top left;
	width: 170px;
	height: 46px;
	text-indent: -9999em;
}
.ui-header .ui-title {
	margin: 0.5em auto 0.2em;
}

/* ---------INTRO---------- */
.intro h2 {
	color: #6D8AA4;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
	margin-top: 1.5em;
	text-align:center;
}

.intro h3 {
    color: #DF5341;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 16px;
	margin: 0;
}

.intro h4 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
}
.intro p{
	margin-top:0.3em;
	font-size: 15px;	
}

/* ---------PRODUCT---------- */

.prod-title h4 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	margin-top: 0.5em;
	text-align: center;
}
.prod-title h5 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	margin-top: 0.3em;
	margin-bottom: 1.5em;
	text-align: center;
	color: #6D8AA4;
	
}
.prodContainer h6 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	text-transform: uppercase;
	margin: 0;
	margin-left: 0.6em;
	margin-top: 0.6em;
	color: #DF5341;
}
.prodContainer {
 	width: 80%;
 	margin-left:10%;
 	margin-bottom: 2.5em;
 	border-radius: 10px;
 	border: 1px solid     #cccccc  ;
	background:      #ffffff      ;
}

.prodContainer img {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.specs {
	margin:0;
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 1.2em;
	margin-left: 0.8em;
}
.specs li {
	list-style: none;
	margin-top: 0.5em;
}
.specs span {
 font-weight: bold;
}
.prodDescrp {
	width: 75%;
	margin: 0 auto;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}


ul.product-list {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 288px;
}

ul.product-list li {
	margin: 2em 0;
	padding: 0;
	text-align: left;
}

ul.product-list a {
	display: block;
	text-decoration: none;
}

ul.product-list img {
	border-radius: 5px;
}

ul.product-list h3 {
	margin: 0;
	padding: 0;

}

ul.product-list h4 {
	margin: 0;
	padding: 0;
}





/* ---------ACTIVE COLOR---------- */
.ui-btn-active.ui-btn-up-a {
	border: 1px solid      		#bbbbbb      /*{a-bhover-border}*/;
	background:     #fdce49     /*{a-bhover-background-color}*/;
	font-weight: bold;
	color:      					#2F3E46      /*{a-bhover-color}*/;
	text-shadow:      0      /*{a-bhover-shadow-x}*/      1px      /*{a-bhover-shadow-y}*/      0      /*{a-bhover-shadow-radius}*/      #ffffff      /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(     #fdce49     /*{a-bhover-background-start}*/), to(     #fde08b     /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(     #fdce49     /*{a-bhover-background-start}*/,     #fde08b     /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(     #fdce49     /*{a-bhover-background-start}*/,     #fde08b     /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(     #fdce49     /*{a-bhover-background-start}*/,     #fde08b     /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(     #fdce49     /*{a-bhover-background-start}*/,     #fde08b     /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(     #fdce49     /*{a-bhover-background-start}*/,     #fde08b     /*{a-bhover-background-end}*/);
}
