/* ---------BODY---------- */
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.content {
	background: url(../img/bg_light.jpg);
}

/* ---------HEADER---------- */
.ui-header {
	background: url(../img/bg_light.jpg) repeat-x;
	border-bottom: 1px solid #B49F8B;
	box-shadow: 0 0 5px 0 #888;
	-moz-box-shadow: 0 0 5px 0 #888;
	-webkit-box-shadow: 0 0 5px 0 #888;
}

.ui-bar-a {
	border: none;
}

.logo {
	background: url(../img/logo.png) no-repeat top left;
	width: 111px;
	height: 30px;
	text-indent: -9999em;
}
.ui-header .ui-title {
	margin: 0.5em auto 0.5em;
}

.ui-header .ui-btn {
	margin-top: 4px;
}

/* ---------INTRO---------- */
.intro h2 {
	color: #6D8AA4;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
	margin-top: 0.5em;
	text-align:center;
}

.intro h3 {
    color: #DF5341;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 15px;
	margin: 0;
}

.intro h4 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	margin: 0;
}
.intro p{
	margin-top:0.3em;
	font-size: 14px;	
}

/* ---------HOME---------- */
.about a {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	margin: 0;
	color: #DF5341 !important; 
	text-align: center !important;
}
.homeNav {
	width: 200px;
	overflow: hidden;
	margin: 32px auto 0 auto;
	padding: 0;
}
.homeNav li {
	list-style: none;
	width: 79px;
	float: left;
	text-align: center;
	padding: 0 10px 10px 10px;
}
.homeNav a {
	color: #6D8AA4 !important; 
	text-decoration: none;
	font-size: 14px;
	text-align: center;
}

/* ---------CATEGORY--------- */

.icon img {
	padding-right: 10px;
}

.listTitle {
	color: #6D8AA4;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0.5em;
}
.list ul li {
	font-size: 15px;
}

/* ---------PRODUCT---------- */
.prod-title h4 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin: 0;
	margin-top: 0.5em;
	text-align: center;
}
.prod-title h5 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	margin-top: 0.3em;
	margin-bottom: 1.5em;
	text-align: center;
	color: #6D8AA4;
	
}
.prodContainer {
 	width: 80%;
 	margin-left:10%;
 	margin-bottom: 2em;
 	border-radius: 10px;
 	border: 1px solid  #cccccc;
	background: #ffffff;
}
.prodContainer img {
	border-radius: 10px;
}
.specs {
	margin:0;
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 1.2em;
	margin-left: 0.8em;
}
.specs li {
	list-style: none;
	margin-top: 0.5em;
}
.specs span {
 font-weight: bold;
}

.ui-collapsible {
	margin: 1em 0px;
}
/* ---------WISH LIST------------- */
.wishList {
	padding-top: 1em;
}
.wishList ul li {
	height: 60px;
}
.wishList h3 {
	margin: 0 0 0.5em 0;
}
.wishList img {
	height: 58px;
}


/* ---------ACTIVE COLOR---------- */
.ui-btn-active.ui-btn-up-a {
	border: 1px solid      		#bbbbbb      /*{a-bhover-border}*/;
	background:     #fdce49     /*{a-bhover-background-color}*/;
	font-weight: bold;
	color:      					#2F3E46      /*{a-bhover-color}*/;
	text-shadow:      0      /*{a-bhover-shadow-x}*/      1px      /*{a-bhover-shadow-y}*/      0      /*{a-bhover-shadow-radius}*/      #ffffff      /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from(     #fdce49     /*{a-bhover-background-start}*/), to(     #fde08b     /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(     #fdce49     /*{a-bhover-background-start}*/,     #fde08b     /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient(     #fdce49     /*{a-bhover-background-start}*/,     #fde08b     /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient(     #fdce49     /*{a-bhover-background-start}*/,     #fde08b     /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient(     #fdce49     /*{a-bhover-background-start}*/,     #fde08b     /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient(     #fdce49     /*{a-bhover-background-start}*/,     #fde08b     /*{a-bhover-background-end}*/);
}
