/* ---------BODY---------- */
.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.content {
	background: url(../img/bg_light.jpg);
}

/* ---------HEADER---------- */
.ui-header {
	background: url(../img/bg_light.jpg) repeat-x;
	border-bottom: 1px solid #B49F8B;
	box-shadow: 0 0 5px 0 #888;
	-moz-box-shadow: 0 0 5px 0 #888;
	-webkit-box-shadow: 0 0 5px 0 #888;
}

.ui-bar-a {
	border: none;
}

.logo {
	background: url(../img/logo.png) no-repeat top left;
	width: 111px;
	height: 30px;
	text-indent: -9999em;
}
.ui-header .ui-title {
	margin: 0.5em auto 0.5em;
}

.ui-header .ui-btn {
	margin-top: 4px;
}

/* ---------INTRO---------- */
.intro h2 {
	color: #6D8AA4;
	font-family: 'Cantarell', sans-serif;
    font-weight: normal;
    font-size: 18px;
    text-transform: uppercase;
	margin-top: 0.5em;
	text-align:center;
}

.intro h3 {
    color: #DF5341;
	font-family: 'Cantarell', sans-serif;
    font-weight: normal;
	text-transform: uppercase;
	font-size: 15px;
	margin: 0;
}

.intro h4 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
	margin: 0;
}
.intro p{
	margin-top:0.3em;
	font-size: 14px;	
}

/* ---------HOME---------- */
.about {
	text-align: center !important;
}

.about a {
	font-family: 'Cantarell', sans-serif;
    font-weight: normal !important;
	text-transform: uppercase;
	font-size: 14px;
	text-decoration: none;
	margin: 0;
	color: #DF5341 !important; 
}
.homeNav {
	width: 200px;
	overflow: hidden;
	margin: 32px auto 0 auto;
	padding: 0;
}
.homeNav li {
	list-style: none;
	width: 79px;
	float: left;
	text-align: center;
	padding: 0 10px 10px 10px;
}
.homeNav a {
	color: #6D8AA4 !important; 
	text-decoration: none;
	letter-spacing: -1px;
	font-family: 'Cantarell', sans-serif;
	font-size: 14px;
	text-align: center;
}

/* ---------CATEGORY--------- */

h3.icon {
	position: relative;
}

h3.icon img {
	position: absolute;
	left: 4px;
	top: 0px;
}

h3.icon .title {
	padding-left: 45px;
}

.listTitle {
	color: #6D8AA4;
	font-family: 'Cantarell', sans-serif;
    font-weight: normal;
	font-size: 20px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 0.5em;
}
.list ul li {
	font-size: 15px;
}

/* ---------PRODUCT---------- */
.prod-title h4 {
	font-family: 'Cantarell', sans-serif;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	margin-top: 0.5em;
	text-align: center;
	letter-spacing: -1px;
}
.prod-title h5 {
	font-family: 'Cantarell', sans-serif;
	font-size: 16px;
	font-weight: normal; 
	margin: 0;
	margin-top: 0.3em;
	margin-bottom: 1.5em;
	text-align: center;
	color: #6D8AA4;
}
.prodContainer {
 	margin-bottom: 2em;
 	border-radius: 10px;
 	box-shadow: 0 0 5px 0 #888;
	-moz-box-shadow: 0 0 5px 0 #888;
	-webkit-box-shadow: 0 0 5px 0 #888;
	background: #ffffff;
}
.descrip {
	padding: 15px;
	font-size: 14px;
}
.prodContainer img {
	border-radius: 10px;
}

.specs li {
	list-style: none;
	margin-top: 0.5em;
}
.specs span {
 font-weight: bold;
}

/* ---------WISH LIST------------- */

.wishList .ui-li > .ui-btn-inner {
	height: 60px;
}
.wishList h3 {
	font-family: 'Cantarell', sans-serif;
	font-weight: normal;
	margin: 0 0 0.5em 0;
}
.wishList p {
	color: #6D8AA4;
}

.wishList .ui-li-thumb {
	padding: 8px 0 5px 5px;
}

/* ---------PRODUCTS------------- */
.topNav {
	margin-top: 1em;
	margin-bottom: 1.5em;
}

.prodBox {
	width: 100%;
	xmargin-left:5%;
	margin-bottom: 20px;
	background: #fff;
	padding: 5px 0 5px 0;
	box-shadow: 0 0 5px 0 #888;
	-moz-box-shadow: 0 0 5px 0 #888;
	-webkit-box-shadow: 0 0 5px 0 #888;
	border-radius: 10px;
}
.prodBox img {
	float:left;
	padding-left: 10px;
	padding-right: 20px;
}
.prodBox h3 {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	margin: 0;
	margin-top: 0.5em;
}
.prodBox p {
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	margin-top: 0.3em;
	margin-bottom: 0.5em;
	xtext-align: center;
	color: #6D8AA4;
}


/* ---------SEARCH------------- */
.searchList {
	margin-top: 1.5em;
}
.searchBar {
	border: none;
}
/* ---------ACTIVE COLOR---------- */

.ui-btn-active {
	border: 1px solid #808080 /*{global-active-border}*/;
	background: #00757c /*{global-active-background-color}*/;
	font-weight: bold;
	color: #ffffff /*{global-active-color}*/;
	cursor: pointer;
	text-shadow:      0      /*{global-active-shadow-x}*/      1px      /*{global-active-shadow-y}*/ 1px /*{global-active-shadow-radius}*/ #666 /*{global-active-shadow-color}*/;
	text-decoration: none;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #00757c /*{global-active-background-start}*/), to( #02a7b1 /*{global-active-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #00757c /*{global-active-background-start}*/, #02a7b1 /*{global-active-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #00757c /*{global-active-background-start}*/, #02a7b1 /*{global-active-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #00757c /*{global-active-background-start}*/, #02a7b1 /*{global-active-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #00757c /*{global-active-background-start}*/, #02a7b1 /*{global-active-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #00757c /*{global-active-background-start}*/, #02a7b1 /*{global-active-background-end}*/);
	      font-family: Helvetica, Arial, sans-serif      /*{global-font-family}*/;
}
.ui-btn-active a.ui-link-inherit {
	color: #ffffff /*{global-active-color}*/;
}
